APP_CONFIG__DB__URL=postgresql+asyncpg://user:password@localhost:5432/telegram_db
APP_CONFIG__BOT__TOKEN=  #telegram bot token from @BotFather
APP_CONFIG__AI__API_KEY=  #api key from groq
APP_CONFIG__AI__BASE_URL=https://api.groq.com/openai/v1
APP_CONFIG__AI__MODEL=llama-3.1-8b-instant
APP_CONFIG__LOG_LEVEL=INFO
